@model GestionIMM.Models.TransactionVente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionVente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propriete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propriete.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
