@model IEnumerable<GestionIMM.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumeroTelephone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Adresse)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
