@model GestionIMM.Models.ContratLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContratLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propriete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propriete.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locataire.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaiementMensuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaiementMensuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
