@model IEnumerable<GestionIMM.Models.UserViewModel>

@{
    ViewData["Title"] = "Liste des Utilisateurs";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    /* Styles from the Client Index page */
    body {
        background-image: url('/FM/images/bg-registration-form-6.jpg'); /* Remplacez avec le chemin réel de votre image */
        background-size: cover; /* Couvre toute la page */
        background-repeat: no-repeat; /* L'image ne se répète pas */
        background-attachment: fixed; /* L'image reste fixe lors du défilement de la page */
        background-color: #647D87; /* Couleur de fond en cas où l'image ne couvre pas tout */
    }

    /* Table header color and text styling */
    .table-dark th {
        background-color: #161A30;
        color: white; /* Text color */
        font-weight: bold; /* Bold text */
    }

    .table-hover tbody tr:hover {
        background-color: #E5E1DA;
    }

    .search-box {
        margin-bottom: 20px;
        height: 38px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .action-icons a {
        margin-right: 10px;
    }

    .custom-color-btn {
        background-color: #161A30;
        border-color: #161A30;
    }

    .pagination {
        justify-content: center;
    }

    .fas.fa-plus {
        color: white; /* Définit la couleur du symbole en blanc */
    }

    .btn.custom-color-btn:hover .fas.fa-plus {
        color: white; /* La couleur du symbole + reste blanche au survol */
    }

    .btn.custom-color-btn:hover {
        background-color: #161A30; /* ou toute autre couleur que vous utilisez pour le bouton */
        border-color: #161A30; /* Assurez-vous que la couleur de la bordure est la même que celle du fond */
    }
</style>



@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}




<div class="container mt-4">
    <h1>Liste des Utilisateurs</h1>
    <div class="row">
        <div class="col text-left">
            <p>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn custom-color-btn">
                    <i class="fas fa-plus"></i>
                </a>
            </p>
        </div>
        <div class="col text-right">
            <input class="form-control search-box" type="text" id="searchInput" placeholder="Search...">
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td class="action-icons">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
